{% extends "admin/change_list.html" %}
{% load i18n admin_urls %}

{% block object-tools-items %}
    <!-- Import JSON tugmasi -->
    <li>
        <a href="{% url 'admin:user_import_json' %}" class="addlink" style="background: #1F4E79;">
            📥 JSON dan import
        </a>
    </li>

    <!-- Export tugmasi -->
    <li>
        <a href="{% url 'admin:user_export_credentials' %}" class="addlink" style="background: #28a745;">
            📊 Login/Parollar
        </a>
    </li>

    <!-- Standart tugmalar -->
    {{ block.super }}
{% endblock %}